In [25]:
import seaborn as sns
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier    # 랜덤포레스트
from sklearn.metrics import accuracy_score

In [19]:

# ===== 1. Titanic: 생존 예측 (로컬 주피터 버전) =====

# 1) 데이터 불러오기
titanic = sns.load_dataset('titanic')
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [20]:
# 2) 숫자 피처 + 타깃 선택
feature_cols_titanic = ['pclass', 'age', 'sibsp', 'parch', 'fare']
target_col_titanic = 'survived'

data_titanic = titanic[feature_cols_titanic + [target_col_titanic]].dropna()
X_titanic = data_titanic[feature_cols_titanic]
y_titanic = data_titanic[target_col_titanic]

# 학습할 데이터 출력해보자
data_titanic 
X_titanic 
y_titanic

0      0
1      1
2      1
3      1
4      0
      ..
885    0
886    0
887    1
889    1
890    0
Name: survived, Length: 714, dtype: int64

In [21]:
# 3) train / test 분리
X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(
    X_titanic, y_titanic,
    test_size=0.2,
    stratify=y_titanic,
    random_state=42
)

In [22]:
# # 4) 모델 학습
# model_titanic = LogisticRegression(max_iter=1000)
# model_titanic.fit(X_train_t, y_train_t)

In [28]:
# 랜덤포레스트
rf_model = RandomForestClassifier(n_estimators=300, random_state=42, n_jobs=-1)
rf_model.fit(X_train_t, y_train_t)
y_pred_rf = rf_model.predict(X_test_t)
acc_rf = accuracy_score(y_test_t, y_pred_rf)
acc_rf

0.6503496503496503

In [9]:
# 5) 예측 및 정확도
y_pred_t = model_titanic.predict(X_test_t)
acc_t = accuracy_score(y_test_t, y_pred_t)
print("Titanic 테스트 정확도:", round(acc_t, 3))

Titanic 테스트 정확도: 0.706

In [10]:
# 6) 리스트로 새 승객 예측
sample_titanic = [[1, 100, 1, 2, 50]]  # [pclass, age, sibsp, parch, fare]
pred_sample_t = model_titanic.predict(sample_titanic)[0]
print("예시 승객 생존 예측(0=사망, 1=생존):", pred_sample_t)

예시 승객 생존 예측(0=사망, 1=생존): 0

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(