In [240]:
from bs4 import BeautifulSoup
from urllib import request
import pandas as pd
import datetime

from selenium import webdriver
import time

In [241]:
con2 = request.urlopen('https://finance.naver.com/item/main.naver?code=005930') #005930
con2.status

200

In [242]:
doc2 = BeautifulSoup(con2, 'html.parser')
# doc2

In [243]:
title_list = doc2.select('.wrap_company>h2>a') # >의 의미 : 바로 아래, 자식
# title_list = doc2.select('.wrap_company a') # 공백의 의미 : 저 안쪽 어딘가에, 자손
title_list

#select()의 결과는 무조건 list형태(ResultSet)
#결과가 하나의 태그라도 첫번째 인덱스로 꺼내주어야함.

In [244]:
title_list[0]

In [245]:
title_list[0].text.strip() #공백제거처리

'삼성전자'

In [246]:
title = title_list[0].get_text(strip=True)
title

'삼성전자'

In [247]:
# <span class="code">005930</span>
code_list = doc2.select('span.code')
code_list

In [248]:
code = code_list[0].text.strip()
code

'005930'

In [249]:
price_list = doc2.select('div.today')
price_list #앗!! <span class="blind">95,100</span>가 숨겨있었음.

[<div class="today">
 <p class="no_today">
 <em class="no_down">
 <span class="blind">94,800</span>
 <span class="no9">9</span><span class="no4">4</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </p>
 <p class="no_exday">
 <span class="sptxt sp_txt1">전일대비</span>
 <em class="no_down">
 <span class="ico down">하락</span>
 <span class="blind">5,800</span>
 <span class="no5">5</span><span class="shim">,</span><span class="no8">8</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="bar">l</span>
 <em class="no_down">
 <span class="ico minus">-</span>
 <span class="blind">5.77</span>
 <span class="no5">5</span><span class="jum">.</span><span class="no7">7</span><span class="no7">7</span>
 <span class="per">%</span>
 </em>
 </p>
 </div>,
 <div class="today">
 <p class="no_today">
 <em class="no_down">
 <span class="blind">95,100</span>
 <span class="no9">9</span><span class="no5">5</span><span class="shim">,</span><span class="no1">1</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </p>
 <p class="no_exday">
 <span class="sptxt sp_txt1">전일대비</span>
 <em class="no_down">
 <span class="ico down">하락</span>
 <span class="blind">5,500</span>
 <span class="no5">5</span><span class="shim">,</span><span class="no5">5</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 <span class="bar">l</span>
 <em class="no_down">
 <span class="ico minus">-</span>
 <span class="blind">5.47</span>
 <span class="no5">5</span><span class="jum">.</span><span class="no4">4</span><span class="no7">7</span>
 <span class="per">%</span>
 </em>
 </p>
 </div>]

In [250]:
# 추출한 데이터에서 더 안으로 들어가면서 select로 계속 추출해도 됨.!!
# blind_price_list = price_list[0].select('span.blind')
# blind_price_list

In [251]:
price_list = doc2.select('div.today span.blind')
price_list

[<span class="blind">94,800</span>,
 <span class="blind">5,800</span>,
 <span class="blind">5.77</span>,
 <span class="blind">95,100</span>,
 <span class="blind">5,500</span>,
 <span class="blind">5.47</span>]

In [252]:
price_1 = price_list[0].text.strip()
price_1

'94,800'

In [253]:
# 숫자로 변환해야함.
price_today = int(price_1.replace(',' , ''))

type(price_today), price_today

(int, 94800)

In [254]:
# 전일가 price_yes, 고가 price_high

In [255]:
price_list2 = doc2.select('td.first')
price_list2

[<td class="first">
 <span class="sptxt sp_txt2">전일</span>
 <em>
 <span class="blind">100,600</span>
 <span class="no1">1</span><span class="no0">0</span><span class="no0">0</span><span class="shim">,</span><span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>,
 <td class="first">
 <span class="sptxt sp_txt3">시가</span>
 <em class="no_down">
 <span class="blind">95,600</span><span class="no9">9</span><span class="no5">5</span><span class="shim">,</span><span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>,
 <td class="first">
 <span class="sptxt sp_txt2">전일</span>
 <em>
 <span class="blind">100,600</span>
 <span class="no1">1</span><span class="no0">0</span><span class="no0">0</span><span class="shim">,</span><span class="no6">6</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>,
 <td class="first">
 <span class="sptxt sp_txt3">시가</span>
 <em class="no_down">
 <span class="blind">97,400</span><span class="no9">9</span><span class="no7">7</span><span class="shim">,</span><span class="no4">4</span><span class="no0">0</span><span class="no0">0</span>
 </em>
 </td>]

In [256]:
price_list2 = doc2.select('td.first span.blind')
price_list2

[<span class="blind">100,600</span>,
 <span class="blind">95,600</span>,
 <span class="blind">100,600</span>,
 <span class="blind">97,400</span>]

In [257]:
price_2 = price_list2[0].text.strip()
price_2

'100,600'

In [258]:
price_yes = int(price_2.replace(",", ""))
price_yes

100600

In [259]:
price_list3 = doc2.select('em.no_down span.blind')
price_list3

[<span class="blind">94,800</span>,
 <span class="blind">5,800</span>,
 <span class="blind">5.77</span>,
 <span class="blind">96,800</span>,
 <span class="blind">95,600</span>,
 <span class="blind">94,500</span>,
 <span class="blind">95,100</span>,
 <span class="blind">5,500</span>,
 <span class="blind">5.47</span>,
 <span class="blind">98,100</span>,
 <span class="blind">97,400</span>,
 <span class="blind">93,500</span>]

In [260]:
price_3 = price_list3[9].text.strip() 
price_3

'98,100'

In [261]:
price_high = int(price_3.replace(",", ""))
price_high

98100

In [262]:
row = [code, title, price_today, price_yes, price_high]
row

['005930', '삼성전자', 94800, 100600, 98100]

In [263]:
# com_list = pd.read_excel('상장법인목록.xls',
#                         header = 2,
#                         usecols= 'C',
#                         engine='xlrd'
#                         )
# com_list.head()
#===> xls가 아니라 xlsd(웹용 excel파일형식) 타입의 데이터였음.

In [264]:

# 1) HTML 테이블로 읽어오기 (리스트 형태로 테이블들이 들어옴)
tables = pd.read_html('상장법인목록.xls')  # 또는 .html 이라도 동일하게 동작

len(tables)  # 몇 개의 테이블이 있는지 확인 (보통 1개)

1

In [265]:
df = tables[0]   # 첫 번째(유일한) 테이블

com_list = df['종목코드']
com_list

0       0068Y0
1       488900
2       388210
3       403850
4       0015G0
         ...
1801    016920
1802    013030
1803    019550
1804    019570
1805    006920
Name: 종목코드, Length: 1806, dtype: object

In [266]:
#############################

In [267]:
s1 = '95,100'
n1 = int(s1.replace(',', ''))
print(n1)      # 95100
print(type(n1))  # <class 'int'>

95100
<class 'int'>

In [268]:
s2 = '1,234,567'
n2 = int(s2.replace(',', ''))
print(n2)  # 1234567

1234567

In [269]:
s3 = '95,100.5'
n3 = float(s3.replace(',', ''))
print(n3)  # 95100.5

95100.5

In [270]:
values = ['1,200', '3,450', '95,100']
nums = [int(v.replace(',', '')) for v in values]
print(nums)  # [1200, 3450, 95100]

[1200, 3450, 95100]

In [271]:
# df['price'] = df['price'].str.replace(',', '').astype(int)